
<body>
  <audio controls autoplay  style="visibility: hidden;">
    <source src="../assets/audio/soundtrack.mp3" type="audio/mpeg">
  </audio>
  <div class="equip">
    <div class="containerEquip">
      <div class="espacioHabilidad"></div>
      <div class="espacioHabilidad"></div>
      <div class="espacioHabilidad"></div>
      <div class="espacioHabilidad"></div>
    </div>
  </div>
  <div *ngIf="inventario" class="inventarioOpen">
  <!-- Contenido del div a mostrar -->
</div>
  <p class="bossName">The dark mage</p>
  <progress value="{{enemyHP}}" max="{{enemy.enemyHP}}" class="enemyHP" style="background-image: linear-gradient(to right, #7c0a0a, #2a0609); border-radius: 10vw;"></progress>
  <img src="../assets/img/enemy.png" alt="" class="enemy">
    <div class="bar">
        <img src="./assets/img/mago.png" alt="" class="magoImg">
        <h1 class="name">Merlin</h1>
        <p class="stats hp">{{hp}}/{{personaje.hpPerson}}</p>
        <progress class="hpPerson" value="{{hp}}" max="{{personaje.hpPerson}}" style="background-image: linear-gradient(to right, #ff0000, #711a23); border-radius: 10vw;"></progress>
        <p class="stats mp">{{mp}}/{{personaje.mpPerson}}</p>
        <progress class="mpPerson" value="{{mp}}" max="{{personaje.mpPerson}}" style="background-image: linear-gradient(to right, #0099ff, #042194); border-radius: 10vw;"></progress>
        <p class="stats tp">{{tp}}/{{personaje.tpPerson}}</p>
        <progress class="tpPerson" value="{{tp}}" max="{{personaje.tpPerson}}" style="background-image: linear-gradient(to right, #2eb93c, #d2bf31); border-radius: 10vw;"></progress>
        <div class="inventario" (click)="abrirInventario()"></div>
        <div class="containerHabilidades">
            <div class="espacioHabilidad"></div>
            <div class="espacioHabilidad"></div>
            <div class="espacioHabilidad"></div>
            <div class="espacioHabilidad"></div>
            <div class="espacioHabilidad"></div>
            <div class="espacioHabilidad"></div>
            <div class="espacioHabilidad"></div>
            <div class="espacioHabilidad"></div>
            <div class="espacioHabilidad"></div>
            <div class="espacioHabilidad"></div>
        </div>
    </div>
</body>
